.jumbotron {
  min-height: 100vh;
  margin-bottom: 0;
  background-color: white;  
  font-family: 'Poppins', sans-serif;
}
.jumbotron>div>h1 {
  text-align: center;
  margin-top: 10%;
}
.jumbotron>div>p {
  text-align: center;
  font-weight: 500;
}
.jumbotron>div>div {
  text-align: center;
  background-color: rgb(31, 211, 112);  
}
.jumbotron>div>div>button {
  color: white;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px; 
  font-weight: 500; 
}
.jumbotron>div>div>button:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}

.UserForm {
  font-family: 'Poppins',sans-serif;
  text-align: center;
}
.UserForm>h1 {
  background-color:white;
  text-align: center;
  margin-top: 25px;
}
.UserForm>div>label {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;  
}
.UserForm>div>input {
  display: block;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.UserForm>div>p {
  display: block;
  width: 100%;
  text-align: center;
  color: red; 
}

.UserForm>button {
  background-color: black;
  color: white !important;
  border: none;
  font-weight: 600;
}

.UserForm>button:hover {
  background-color: rgb(31, 211, 112) !important;
  color: white !important;
  transition: 0.5s;
}
  
#backBtn{
  position: absolute;
  left: 0;
  top: 15px;
  background-color: inherit;
  color: black !important;
  border-radius: 0 !important;
}
#backBtn:hover {
  background-color: inherit !important;
  border-bottom: 1px solid black ;
 
}